
.pregunta {
  margin-bottom: 20px;
}

.texto {
  font-weight: bold;
  margin-bottom: 10px;
}

.opciones {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.opcion {
  display: flex;
  align-items: center;
  gap: 6px;
}
