
.header {
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px; /* Altura del desvanecido */
  background: linear-gradient(to bottom, #fdf3d100 0%, #FDF3D1 100%);
  pointer-events: none; /* Para que no interfiera con clicks */
}
.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  height: 666px;
  transform: translate(-50%, -50%); /* Ajusta el centro exacto */
  object-fit: contain;
  z-index: 3;
}

.wrapper {
  position: relative;
  top: -200px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding: 2rem;
  max-width: 1350px;
  margin: 0 auto;
}

.layout {
  position: fixed;   /* lo sacamos del flujo normal */
  top: 25px;            /* pegado arriba */
  left: -30px;           /* pegado a la izquierda */
  height: 100vh;     /* ocupa todo el alto de la pantalla */
  z-index: 20;       /* encima del contenido */
}

.cartel {
  position: absolute;
  height: 100px; 
  object-fit: contain;
  z-index: 3;    
}

.cartelInicio {
  top: 5%; 
  left: -2%;
}

.cartelTienda {
  top: 20%; 
  left: -2%;
}

.cartelTest {
  top: 35%; 
  left: -2%;
}

.cartelLogin {
  top: 50%; 
  left: -2%;
}

.cartelRegistro {
  top: 65%; 
  left: -2%;
}


