.container {
  background: url('/backgrounds/fondo-cards.webp');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
}

.textos {
  color: #333;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  max-width: 1100px;
  
}

.textos h2 {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-size: 148px;
  font-style: normal;
  text-align: center;
  letter-spacing: 10px;
  line-height: 1; 
  margin-bottom: 0;
    
}

 
.textos p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.22; 
}



.button {
  
  padding: 0.75rem 1.5rem;
  background-color: #ff4c4c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loading {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.2rem;
  color: #999;
}
.collage {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 350px; /* controlas el área donde se solapan */
  margin: 2rem auto;
}

.photo {
  position: absolute;
  background: #f3f3f3;
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  width: 180px;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}



/* 
.confirmacion {
  font-size: 1.2rem;
  color: #2e7d32;
  font-weight: bold;
} */