.container {
  background: url('/backgrounds/fondo-cards.webp');
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  gap: 3rem;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.imageWrapper {
  flex: 1;
  max-width: 500px;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.image {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nombreDecorado {
  position: relative;
  display: inline-block;
  text-align: center;
}

.subrayadoImg {
  display: block;
  width: 100%;
  height: auto;
}

.nombreTexto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}


.detail {
  font-size: 1.1rem;
  color: #555;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

.button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #ff4c4c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e63b3b;
}

.loading {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.2rem;
  color: #999;
}
