.container {
  background: url('/backgrounds/fondo-cards.webp');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
}
.layout {
  position: fixed;   
  top: 125px;
  left: -11px;       
  height: 100vh;     
  z-index: 20;  
}
