
.header {
  position: relative;
  width: 100%;
  overflow: hidden;

}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px; /* Altura del desvanecido */
  background: linear-gradient(to bottom, #fdf3d100 0%, #FDF3D1 100%);
  pointer-events: none; /* Para que no interfiera con clicks */
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  object-fit: contain;
  z-index: 3; 
}

.wrapper {
  position: absolute;
  top: 900px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  width: 1200px;
  margin: 0 auto;
}