* {
  border: red dotted 1px;
}

.card {
  background: url('/backgrounds/fondo-cards.webp') repeat center center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.248);
  width: 100%;
  height: 300px;
  max-width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;

}

.imageUno {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.imageDos {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease, transform 0.4s ease, filter 0.4s ease;

}


.visible {
  opacity: 1;
  z-index: 1;
}

.oculta {
  opacity: 0;
  z-index: 0;
}

.link {
  margin-top: auto;
  background-color: #aa6933ca;
  
  color: #333;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    #e7dbc5 5px 10px 15px;
}

.link:hover {
  color: #e7dbc5;
}