.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; /* sobre el fondo */
  display: flex;
  flex-direction: column;
  gap: 15%; /* separación vertical */
}

.cartel {
  height: 100px; /* Ajusta según quieras */
  object-fit: contain;
}

/* Posiciones individuales */
.cartelInicio {
  margin-top: 5%;
}

.cartelTienda {
  margin-top: 5%;
}

.cartelTest {
  margin-top: 5%;
}

.cartelLogin {
  margin-top: 5%;
}

.cartelRegistro {
  margin-top: 5%;
}
